{% extends 'base/base.html' %}

{% block title %}Action create{% endblock %}

{% block content %}
<div class="form-body">
  <div class="d-flex flex-column w-100 bg-todo m-auto p-lg-2 border border-success rounded-3">
      <div class="d-flex align-items-center justify-content-center position-relative">
          <a class="position-absolute start-0 back-arrow" href="{% url 'action-list' view.kwargs.task_pk %}">
              <i class="fa-solid fa-arrow-left"></i>
          </a>
          <h1 class="text-center">Action Create</h1>
      </div>
      <form method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <input class="btn btn-primary" type="submit" value="Add">
      </form>
  </div>
</div>

{% endblock %}

  <!-- !!!!!!!!!!Modal Layot!!!!!!!!!! -->

  <!-- {% block modal %}
<div>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
</div>
{% endblock %} -->

    <!-- <button data-bs-toggle="modal" data-bs-target="#models-action">Add action</button> -->
            <!-- <div class="modal fade" tabindex="-1" id="models-action" data-bs-backdrop="static"  data-bs-keyboard="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div> -->