{% extends 'base/base.html' %}

 {% block title %}Action list{% endblock %} 

{% block content %}
<div
  class="d-flex flex-column w-100 bg-todo m-auto border border-success rounded-3"
>
  <div class="task-header">
      <div class="d-flex align-items-center justify-content-center position-relative">
        <a class="position-absolute start-0 back-arrow" href="{% url 'task-list'%}">
            <i class="fa-solid fa-arrow-left"></i>
          </a>
            <h1 class="text-center">{{task_name|upper}}</h1>
            <a href="{% url 'action-create' view.kwargs.task_pk %}" class="add-button" style="margin-left: 20px;">
              <i class="fa-solid fa-plus"></i>
            </a>
    </div>
  </a>
  </div>
  <div class="task-item-wrapper">
    <div class="d-flex align-items-center justify-content-between p-3"></div>
    {% if actions %}
    {% for action in actions %}
    <div class="task-wrapper">
      <div class="task-title">
           <a  href="{% url 'action-update' action.task.id action.id %}">
            {{action.name}}
            </a>
          </div>
            <a class="action-icon" href="{% url 'action-delete' action.task.id action.id %}"
              ><i class="fa-solid fa-trash"></i
            ></a>
      </div>
    {% endfor %}
    {% else %}
    <div class="task-wrapper">
        <div class="task-title">
    <p>No actions yet</p>
        </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
