{% extends 'base/base.html' %}

{% block title %}Action delete{% endblock %}

{% block content %}
<div class="context-wrapper" style="width: 600px;">
    <div class="context-header-wrapper">
        <a class="back-icon" href="{% url 'action-list' action.task.id %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2>Action delete</h2>
    </div>
    <div class="context-body-wrapper">
        <form method="POST" class="form-delete-wrapper">
            {% csrf_token %}
            <p>
                Are you sure you want to delete <span>"{{action}}"</span>?
            </p>
            <div class="delete-options">
                <a class="button-cancel" href="{% url 'action-list' action.task.id %}">
                    Cancel
                </a>
                <button class="button-delete-confirm" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}