{% extends 'base/base.html' %}

{% block title %}TAction list{% endblock %}

{% block content %}
<div
  class="d-flex flex-column w-75 bg-todo m-auto border border-success rounded-3"
>
<div class="task-header">
  <h1 class="text-center">Hello {{request.user|title}}</h1>
</div>
  <div class="task-item-wrapper">
    <div class="d-flex align-items-center justify-content-between p-3">
      <a href="{% url 'action-create' %}" class="add-button">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
    {% for action in actions %}
    <div class="task-wrapper">
      <div class="task-title">
       <div style="display: flex;flex-direction: column;">
        {{action.user}}
        {{action.name}}
        {{action.started_at}}
        {{action.ended_at}}
        <!-- <div>
        </div> -->
        {{action.calc_time2}}

        <a class="action-icon" href="{% url 'action-delete' action.id %}"
        ><i class="fa-solid fa-trash"></i
      ></a>
       </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
