{% extends 'base/base.html' %}

{% block title %}Update task{% endblock %}

{% block content %}
<div class="context-wrapper"  style="width:700px">
    <div class="context-header-wrapper">
        <a class="back-icon" href="{% url 'task-list' %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="text-center">Task Update</h2>
    </div>
      <div class="context-body-wrapper">
        <form method="POST" class="form-wrapper">
            {% csrf_token %}
            {{form}}
            <button class="button-submit" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}