{% extends 'base/base.html' %}

{% block title %}Task details{% endblock %}

{% block content %}
<div class="d-flex flex-column w-100 bg-todo m-auto p-lg-2 border border-success rounded-3">
    <div class="d-flex align-items-center justify-content-center position-relative">
        <a class="position-absolute start-0 back-arrow" href="{% url 'task-list' %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h1 class="text-center">Task detail</h2>
    </div>
    <h3>Nazwa zadania - {{ task.title }}</h3>
    <h5>Opis zadania - {{ task.description }}</h3>
    <h5>Liczba akcji w tasku - {{ action_count }}</h5>
    <h5>Status zadania - 
        {% if  task.complete == False %}
        W trakcie
        {% else %}
        Zakończone
        {% endif %}
    </h5>
    <h6>Całkowity czas trwania zadań to {{actions_count}}h</h6>
</div>
{% endblock %}