{% extends 'base/base.html' %}

{% block title %}Tasks list{% endblock %}

{% block content %}
<div class="context-wrapper" style="width:800px">
  <div class="context-header-wrapper" style="flex-direction: column;">
    <h2>Hello {{request.user|title}}</h2>
    <h4>You have {{count}} incompleted task</h4>
  </div>
  <div class="list-wrapper">
    <div class="add-and-search-wrapper">
      <form method="GET" class="search-task">
        <input type="text" name="search-area" value="{{search_input}}" />
        <input type="submit" value="Search" />
      </form>
      <a href="{% url 'task-create' %}" class="add-icon">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
    {% for task in tasks %}
    <div class="single-item-wrapper">
      {% if task.complete %}
      <div class="item-title">
        <div class="task-complete-icon"></div>
        <s><a href="{% url 'task-update' task.id %}"><i>{{task}}</i></a
        ></s>
      </div>
      {% else %}
      <div class="item-title">
        <div class="task-incomplete-icon"></div>
        <a  href="{% url 'task-update' task.id %}">{{task}}</a>
      </div>
      {% endif %}
      <div class="item-actions-wrapper">
        <a href="{% url 'action-list' task.id %}">
          <i class="fa-solid fa-list"></i>
        </a>
        <a href="{% url 'task-detail' task.id %}">
          <i class="fa-solid fa-circle-info"></i>
        </a>
        <a href="{% url 'task-delete' task.id %}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
