{% extends 'base/base.html' %}

{% block title %}Task details{% endblock %}

{% block content %}
<div class="context-wrapper" style="width: 1000px;">
    <div class="context-header-wrapper">
        <a class="back-icon" href="{% url 'task-list' %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2>Task detail</h2>
    </div>
    <div class="context-body-wrapper">
            {% if action_count == 0 %}
            <div class="detail-list">
                <h2>At this moment no actions!</h2>
            </div>    
            {% else %}
            <div class="detail-container">
                <div class="detail-header">
                    <div class="single-head-item">Task name</div>
                    <div class="single-head-item">Task description</div>
                    <div class="single-head-item">Action count</div>
                    <div class="single-head-item">Task status</div>
                    <div class="single-head-item">Total task duration</div>
                 </div>
                <div class="detail-context">
                    <div class="single-context-item">{{ task.title }}</div>
                    <div class="single-context-item">{{ task.description }}</div>
                    <div class="single-context-item">{{ action_count }}</div>
                    <div class="single-context-item">
                        {% if  task.complete == False %}
                            W trakcie
                        {% else %}
                            Zakończone
                        {% endif %}
                    </div>
                    <div class="single-context-item">{{total_duration}}</div>
                </div>
            </div>
            {% endif %}
    </div>
</div>
{% endblock %}