{% extends 'base/base.html' %}
{% block title %}Login form{% endblock %}

{%block content %}

<div class="context-wrapper">
    <div class="context-header-wrapper">
        <h2 >Login</h2>
    </div>
    <div class="context-body-wrapper">
        <form method="POST" class="form-wrapper">
            {% csrf_token %}
            {{form}}
            <button class="button-submit" type="submit">Login</button>
        </form>
        <div class="options-wrapper">
            <p>Don't have an account?</p> 
            <a href="{% url 'register' %}"> Register now</a>
        </div>
    </div>
</div>

{% endblock %}