{% extends 'base/base.html' %}

{% block title %}Register form{% endblock %}

{% block content %}

<div class="form-body">
    <div class="d-flex flex-column w-100  bg-todo m-auto p-lg-5 border border-success rounded-3">
        <h1 class="text-center mb-5">Register</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-success" type="submit" value="Register">
        </form>
        <p>Already have an account?<a class="m-1 text-primary" href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock %}